<template>
	<div>
    <div class="center-info">
      <h2>分页组件 Pagination</h2>
      <p>一般用于处理ajax获取的列表数据分页显示</p>
      <h3>Params</h3>
      <ol>
        <li>currentPage:  当前选中页</li>
        <li>toalCount:  总共多少条数据</li>
        <li>pageSize:  一页多少条(默认值10)</li>
        <li>layer:  布局 默认   info,pre,paper,next,jumper</li>
        <li>change:  一个回调函数，带有一个参数，被选中的页数</li>
      </ol>
    </div>
    <hr></hr>
    <div class="center-info">
      <h3 class="center-p">可选布局(layer)</h3>
      <ul class="demo-list" @click="changeLayerClick" ref="domList">
        <li class="active" data-layer="pre,paper,next" >默认：info,pre,paper,next,jump</li>
        <li data-layer="pre,paper,next">简约 ：pre,paper,next</li>
        <li data-layer="paper">简漏 ：paper</li>
        <li data-layer="pre,next">超简 ：pre,next</li>
        <li data-layer="paper,pre,next">随搭1 ：paper,pre,next</li>
        <li data-layer="paper,info">随搭2 ：paper,info</li>
        <li data-layer="random">随机~</li>
      </ul>
    </div>
    <Pagination
      :currentPage="current_page"
      :totalCount="total"
      :layer="layer"
      @change="pageNumChange"></Pagination>


	</div>
</template>
<script>
  import Pagination from 'components/Pagination.vue'
  export default {
    name: 'Pagination-demo',
    data () {
      return {
        'pageSize': 10,
        'total': 100,
        'current_page': 1,
        'layer': 'info,pre,paper,next'
      }
    },
    components: {
      Pagination: Pagination
    },
    methods: {
      pageNumChange( newPageNum ) {
				console.log( newPageNum)
        this.current_page = newPageNum;
      },
      changeLayerClick( { target} ) {
        if( target.tagName === 'UL' ) {
          return
        }

        this.$refs.domList.querySelector('.active').className = '';
        target.className = 'active';

        let layerVal = target.getAttribute('data-layer');

        if( layerVal === 'random' ) {
          let tmp_layer;
          //这个方法不能被当做 洗牌算法 ，已经被证实
          tmp_layer = ['info','pre','paper','next','jump'].sort(function(){return Math.random()>0.5?-1:1;});

          layerVal = tmp_layer.filter((item) => { return  Math.random()>0.5? true:false}).join(',');

          if( tmp_layer === '' ) {
            console.info( '还给你随机到了空 厉害了')
          }
        }
        this.layer = layerVal;
      }
    }
  }

</script>
<style media="screen" scoped>
.center-p{
  text-align: center;
  margin-bottom: 20px;
}
.demo-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer;
  border: 1px solid #03a9f4;
  border-radius: 5px;
  background-color: #03a9f4;
  color: #fff;
  transition: all .2s ease-in-out;
}
.demo-list li.active{
  background-color: #f44336;
}
.demo-list li:hover{
    background-color: #f44336;
}
</style>
