<template>
  <div class="home">
    <div class="h1">
      <h1>{{message}}</h1>
    </div>
    <ul>
      <li @click="btnGroup"><span>btnGroup组件</span></li>
      <li @click="pagination"><span>pagination分页组件</span></li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    data () {
      return {
        message: 'anen-vue-components'
      }
    },
    methods: {
      btnGroup () {
        this.$router.push('/btnGroup')
      },
      pagination () {
        this.$router.push('/pagination')
      }
    }
  }
</script>

<style scoped>
  .home {
    width: 100%;
    min-width: 500px;
  }

  .h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }

  ul {
    width: 50%;
    margin: 0 auto;
  }

  li {
    width: 100%;
    height: 30px;
    line-height: 50px;
    cursor: pointer;
  }

  li span {
    color: #38f;
    text-decoration: underline;
  }

  li span:hover {
    color: #333;
  }
</style>
