<template>
  <div>
    <ul v-for="(row, rowIndex) of rowCount" :key="rowIndex" :class="rowClass" class="button-group__row">
      <li
        v-for="(item, index) of column"
        :key="rowIndex + '.' + index"
        :class="renderClass(rowIndex, index)"
        class="button-group__item"
        v-html="renderHtml(rowIndex * column + index)"
        @click="select(rowIndex, index)"
      >
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'BtnGroup',
    props: {
      column: {
        type: Number,
        default: 4
      },
      list: {
        type: Array,
        default () {
          return []
        }
      },
      defaultIndex: {
        type: Number,
        default: 0
      },
      rowClass: String,
      label: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        activeIndex: this.defaultIndex
      }
    },
    computed: {
      rowCount () {
        return Math.ceil(this.list.length / this.column)
      }
    },
    watch: {
      defaultIndex (value) {
        this.activeIndex = value
      }
    },
    methods: {
      renderClass (rowIndex, index) {
        let idx = rowIndex * this.column + index
        return {
          'active': this.activeIndex === idx,
          'empty-item': idx > this.list.length - 1
        }
      },
      select (rowIndex, columnIndex) {
        let idx = rowIndex * this.column + columnIndex

        if (idx > this.list.length - 1) {
          return
        }
        if (idx !== this.activeIndex) {

          this.activeIndex = idx
          this.emitChange()
        }
      },
      renderHtml (item) {
        let cur = this.list[item]
        return cur && (cur[this.label] || cur)
      },
      emitChange () {
        this.$emit('change', this.activeIndex, this.list[this.activeIndex])
      }
    },
    created () {
      this.emitChange()
    },
    updated () {
      this.emitChange()
    }
  }
</script>

<style>
  .button-group__row {
    display: -webkit-flex;
    display: flex;
  }

  .button-group__item {
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-flex-shrink: 0 1 auto;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-group__item:last-child {
    margin-right: 0px !important;
  }

  .empty-item {
    opacity: 0;
  }
</style>
