* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "PingFang SC","Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration:none;
}
.center-info{
  margin: 50px auto 100px;
  max-width: 414px;
  text-align: left;
}
