<template>
  <div>
    <div class="github">
      <a target="view_window" href="https://www.baidu.com">本页源代码</a>
      <a target="view_window" href="https://www.baidu.com">组件源代码</a>
    </div>
    <div class="hr"></div><!--分割线-->
    <btn-group
      :list="A"
      :column="4"
      rowClass="btn_1"
      @change="Afn"
    ></btn-group>

    <div class="hr"></div><!--分割线-->

    <btn-group
      :list="B"
      :column="3"
      :defaultIndex="2"
      label="price"
      rowClass="btn_2"
      @change="Bfn"
    ></btn-group>

    <div class="hr"></div><!--分割线-->

    <div class="info">
      <p>可拖动页面大小，组件完全自适应，可看控制台打印，组件又向父组件抛值，如果项目 按钮排行只是占屏幕宽度一部分，可以给组件外围包裹一个div，设置div宽度，组件宽度是父级100%</p>
      <p>list: 组件要渲染的数组[必传]</p>
      <p>column: 每一行显示几个数组元素 (元素的左右上下边距完全可以自定义 根据class去修改)  若不传 默认为4</p>
      <p>rowClass: 传递给组件的class 用于控制组件样式</p>
      <p>defaultIndex: 默认选中的数组中元素第几个 若不传 默认为0</p>
      <p>label: 如果数组内是对象 需要渲染对象属性的属性名 若不传 默认认为数组里面不是对象</p>
      <p>change: 传递一个函数名，用来接受组件向外抛出的值[必传 如果不传 拿不到组件抛出的值 组件就没啥意义]</p>
    </div>
  </div>
</template>

<script>
  import BtnGroup from 'components/BtnGroup.vue'

  export default {
    name: 'BtnGroup',
    data () {
      return {
        A: [100, 200, 300, 400, 500, 600, 700, 800, 900],
        B: [{price: 11}, {price: 22}, {price: 33}, {price: 44}, {price: 55}, {price: 66}, {price: 77}, {price: 88}, ]
      }
    },
    components: {
      btnGroup: BtnGroup
    },
    methods: {
      Afn (index, text) {
        console.log(index, text)
      },
      Bfn (index, text) {
        console.log(index, text)
      }
    }
  }
</script>

<style>
  .hr {
    width: 100%;
    height: 30px;
  }

  .github {
    width: 100%;
    text-align: center;
  }
/****************************************/

  .btn_1 li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .btn_1 .active {
    background-color: #ccc;
    color: #fff;
  }

/****************************************/


  .btn_2 li {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .btn_2 .active {
    background-color: #abcdef;
    color: #fff;
  }

/****************************************/

  .info {
    width: 100%;
    padding: 0 10px;
  }

  .info p {
    margin-top: 10px;
  }
</style>
